## Data Wrangling

- Data wrangling, also known as data munging or data preprocessing, is the process of cleaning, structuring, and transforming raw data into a format suitable for analysis.
- It is a crucial step in the data preparation pipeline, aiming to make the data more accessible, understandable, and ready for various analytical tasks.
- It involves dealing with missing values, handling outliers, transforming variables, and merging datasets, among other tasks.

## Data Collection

- Data collection is the process of gathering information from diverse sources to build a comprehensive dataset for analysis.
- Sources may include databases, APIs (application programming interfaces), spreadsheets, or external files. Effective data collection ensures the availability of relevant and reliable information.

In [1]:
# Start by Loading the data into a Pandas DataFrame
import pandas as pd

# Load the data
df = pd.read_csv("HousePrices.csv")

## Data Inspection
- After loading the data set, its now time to explore the dataset to gain insights into the structure and quality
- This step involves using functions like df.head(), df.info(), and df.describe() to gain insights into the dataset's structure, data types, and statistical summaries. Checking for missing values, outliers, and inconsistencies is crucial to identify potential issues that need addressing.

In [ ]:
# Inspecting the first few rows of the DataFrame
print(df.head())

#Displaying the last few rows of the DataFrame
print(df.tail())

# Providing information about the DataFrame, including data types and non-null counts
print(df.info())

# Displaying descriptive statistics of the DataFrame, such as mean, std, min, max, and so on.
print(df.describe())

# Displaying datatypes of the columns
df.dtypes

## Accessing Rows using .iloc and .loc

- Inspecting the dataset involves exploring its content
- Using .iloc and .loc allows accessing specific rows based on integer-location or label-based indexing, respectively

In [6]:
# Access the first row using iloc
result_iloc_0 = df.iloc[0]

#Display the results for df.iloc[0]
print(result_iloc_0)
print("______________________________________________")

# Access the eleventh row using iloc
result_iloc_10 = df.iloc[10]
print(result_iloc_10)

date              2014-05-02 00:00:00
price                        313000.0
bedrooms                          3.0
bathrooms                         1.5
sqft_living                      1340
sqft_lot                         7912
floors                            1.5
waterfront                          0
view                                0
condition                           3
sqft_above                       1340
sqft_basement                       0
yr_built                         1955
yr_renovated                     2005
street           18810 Densmore Ave N
city                        Shoreline
statezip                     WA 98133
country                           USA
Name: 0, dtype: object
______________________________________________
date             2014-05-02 00:00:00
price                       463000.0
bedrooms                         3.0
bathrooms                       1.75
sqft_living                     1710
sqft_lot                        7320
floors                           1.0
waterfront                         0
view                               0
condition                          3
sqft_above                      1710
sqft_basement                      0
yr_built                        1948
yr_renovated                    1994
street            Burke-Gilman Trail
city                Lake Forest Park
statezip                    WA 98155
country                          USA
Name: 10, dtype: object

## Checking for any Missing Values
- missing data or null values can play a huge part in data analysis
- missing values can skew, alter data outcomes

In [8]:
#Checking for any missing values
missing_values = df.isnull().sum()
print(missing_values)

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

## Handling Missing Data
- Handling missing data is crucial for maintaining data integrity. 
- Different ways include imputation (replacing missing values with estimated values), the removal of records with missing values, or using default values when appropriate.
- to handling missing values in numerical columns of the dataset, utilizie iloc to select them, excluding text columns.
- Focusing soley on columns that do not contain text data.

In [ ]:
# Handling missing values using imputation of the dataset

#filling in missing values from columns 1-13
df_filled = df.fillna(df.iloc[:, 1:14].mean())

## Dealing with Duplicates
- Duplicates in a dataset can introduce bias and errors.
- Identifying and handling duplicate recourds is essential for ensuring accurate analysis and reporting
- By default, drop_duplicates() retains the first occurrence of a duplicate and removes subsequent ones.

In [ ]:
# Removing Duplicate records
df_no_duplicates = df.drop_duplicates()

## Data cleaning

- Data Cleaning involves correcting typographical errors, standardizing date formats, and resolving inconsistencies in categorical data labeling. 
- Standardizing data formats and units, ensures consistency and facilitates analysis.

In [11]:
#Cleaning data by standardizing formats
df['date'] = pd.to_datetime(df['date'])

#Displaying the dataframe after cleaning
print(df)

           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
0        1.5           0     0          3        1340              0
1        2.0           0     4          5        3370            280
2        1.0           0     0          4        1930              0
3        1.0           0     0          4        1000           1000
4        1.0           0     0          4        1140            800
...      ...         ...   ...        ...         ...            ...
4595     1.0           0     0          4        1510              0
4596     2.0           0     0          3        1460              0
4597     2.0           0     0          3        3010              0
4598     1.0           0     0          3        1070           1020
4599     2.0           0     0          4        1490              0

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country
0        USA
1        USA
2        USA
3        USA
4        USA
...      ...
4595     USA
4596     USA
4597     USA
4598     USA
4599     USA

[4600 rows x 18 columns]

## Data Transformation
-  Data transformation inclues converting data types, creating new features through feature engineering, and normalizing or scaling numeric values as needed.

In [12]:
# Creating a new feature and normalizing normalizing numeric values
#check if 'price' column exisits in the Dataframe

import numpy as np
if 'price' in df.columns:
    #use the natural logarith to create a new feature 'log_price'
    df['log_price'] = df['price'].apply(lambda x: np.log(x))

    # Normalize 'price' column and create a new feature 'normalized_price'
    df['normalized_price'] = (df['price'] - df['price'].min()) / (df['price']).max() - (df['price'].min())

    #Displaying the Dataframe with the new features
    print(df)
else:
    print(' the column price does not exist in this dataframe')

           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
0        1.5           0     0          3        1340              0
1        2.0           0     4          5        3370            280
2        1.0           0     0          4        1930              0
3        1.0           0     0          4        1000           1000
4        1.0           0     0          4        1140            800
...      ...         ...   ...        ...         ...            ...
4595     1.0           0     0          4        1510              0
4596     2.0           0     0          3        1460              0
4597     2.0           0     0          3        3010              0
4598     1.0           0     0          3        1070           1020
4599     2.0           0     0          4        1490              0

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country  log_price  normalized_price
0        USA  12.653958          0.011771
1        USA  14.684290          0.089658
2        USA  12.742566          0.012862
3        USA  12.948010          0.015795
4        USA  13.217674          0.020684
...      ...        ...               ...
4595     USA  12.638396          0.011590
4596     USA  13.188775          0.020095
4597     USA  12.940612          0.015679
4598     USA  12.222930          0.007649
4599     USA  12.304106          0.008296

[4600 rows x 20 columns]

/var/folders/9d/7216hsv562lbddcy7qb278zc0000gp/T/ipykernel_1613/2695413612.py:7: RuntimeWarning: divide by zero encountered in log
  df['log_price'] = df['price'].apply(lambda x: np.log(x))

## Data Binning
-  Data binning, known as discretization, is a technique in data transformation to convert continuous numerical data into discrete bins or intervals.
-  This process helps simplify the analysis of trends, handle outliers, and make data more suitable for certain types of analyses or machine learning algorithms
- It involves grouping numeric values into predefined ranges, creating a categorical representation of the data.

In [13]:
# Data Binning: Creating bins for the 'price' column
# checking if 'price' column exists in the dataframe

if 'price' in df.columns:
    #Define bin edges
    bin_edges = [0,100,200,300,400,500, np.inf] #adjust bin edges as needed

    #Define bin labels
    bin_labels = ['0-100', '101-200', '201-300', '301-400', '401-500', '501+']

    #creating a new categorical column 'price_category' based on binning
    df['price_category'] = pd.cut(df['price'], bins=bin_edges, labels=bin_labels, right=False)

    #displaying the dataframe with the new 'price_category' column
    print(df)
else:
    print('the price column does not exist in this dataframe')

           date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0    2014-05-02  3.130000e+05       3.0       1.50         1340      7912
1    2014-05-02  2.384000e+06       5.0       2.50         3650      9050
2    2014-05-02  3.420000e+05       3.0       2.00         1930     11947
3    2014-05-02  4.200000e+05       3.0       2.25         2000      8030
4    2014-05-02  5.500000e+05       4.0       2.50         1940     10500
...         ...           ...       ...        ...          ...       ...
4595 2014-07-09  3.081667e+05       3.0       1.75         1510      6360
4596 2014-07-09  5.343333e+05       3.0       2.50         1460      7573
4597 2014-07-09  4.169042e+05       3.0       2.50         3010      7014
4598 2014-07-10  2.034000e+05       4.0       2.00         2090      6630
4599 2014-07-10  2.206000e+05       3.0       2.50         1490      8102

      floors  waterfront  view  condition  ...  sqft_basement  yr_built  \
0        1.5           0     0          3  ...              0      1955
1        2.0           0     4          5  ...            280      1921
2        1.0           0     0          4  ...              0      1966
3        1.0           0     0          4  ...           1000      1963
4        1.0           0     0          4  ...            800      1976
...      ...         ...   ...        ...  ...            ...       ...
4595     1.0           0     0          4  ...              0      1954
4596     2.0           0     0          3  ...              0      1983
4597     2.0           0     0          3  ...              0      2009
4598     1.0           0     0          3  ...           1020      1974
4599     2.0           0     0          4  ...              0      1990

      yr_renovated                    street       city  statezip country  \
0             2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1                0           709 W Blaine St    Seattle  WA 98119     USA
2                0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3                0           857 170th Pl NE   Bellevue  WA 98008     USA
4             1992         9105 170th Ave NE    Redmond  WA 98052     USA
...            ...                       ...        ...       ...     ...
4595          1979            501 N 143rd St    Seattle  WA 98133     USA
4596          2009          14855 SE 10th Pl   Bellevue  WA 98007     USA
4597             0          759 Ilwaco Pl NE     Renton  WA 98059     USA
4598             0         5148 S Creston St    Seattle  WA 98178     USA
4599             0         18717 SE 258th St  Covington  WA 98042     USA

      log_price  normalized_price  price_category
0     12.653958          0.011771            501+
1     14.684290          0.089658            501+
2     12.742566          0.012862            501+
3     12.948010          0.015795            501+
4     13.217674          0.020684            501+
...         ...               ...             ...
4595  12.638396          0.011590            501+
4596  13.188775          0.020095            501+
4597  12.940612          0.015679            501+
4598  12.222930          0.007649            501+
4599  12.304106          0.008296            501+

[4600 rows x 21 columns]

## Handling outliers
- Outliers can significantly impact analysis and modeling. Identifying and addressing outliers is crucial for maintaining the accuracy of results.
- Winssorization: it is the transformation of statistics by limiting extreme values in the statistical data to reduce the effect of possibly spurious outliers.

In [ ]:
# Handling outliers by winsorizing
from scipy.stats.mstats import winsorize

# Check if 'price' column exists in the dataframe
if 'price' in df.columns:
    #Winsorizing the 'price' column with limits [0.05, 0.05]
    df['winsorizing_price'] = winsorize(df['price'], limits=[0.05,0.05])
    print(df)
else:
    print('the column price does not exist in this dataframe')

## Pandas Joining Techniques
- Pandas provides various joining techniques, such as merging, joining, and concatenating, which allow datasets to be combined using one or more keys. Each method has unique behaviors and applications.
- Concatenate: It appends DataFrames vertically or horizontally, offering a straightforward way to combine datasets with distinct columns or indices without regard for overlapping keys or index values.
- Merge: It combines DataFrames by aligning columns with shared keys, allowing for detailed control over overlapping column names and the use of multiple keys.
- Join: It aligns DataFrames based on their index values, making it ideal for coordinating data with correspoinding indies.


# Pandas Concatenate
# The pd.concat() method combines DataFrames along rows or columns, preserving indices and columns.
# Specify axis=0 to concatenate along rows(vertical concatenation) or axis=1 to concatenate along columns (horizontal concatenation)

In [ ]:


df1 = pd.DataFrame(
   {
       "A": ["A0", "A1", "A2", "A3"],
       "B": ["B0", "B1", "B2", "B3"],
       "C": ["C0", "C1", "C2", "C3"],
       "D": ["D0", "D1", "D2", "D3"],
   },
   index=[0, 1, 2, 3],
)

df2 = pd.DataFrame(
   {
       "A": ["A4", "A5", "A6", "A7"],
       "B": ["B4", "B5", "B6", "B7"],
       "C": ["C4", "C5", "C6", "C7"],
       "D": ["D4", "D5", "D6", "D7"],
   },
   index=[4, 5, 6, 7],
)

df3 = pd.DataFrame(
   {
       "A": ["A8", "A9", "A10", "A11"],
       "B": ["B8", "B9", "B10", "B11"],
       "C": ["C8", "C9", "C10", "C11"],
       "D": ["D8", "D9", "D10", "D11"],
   },
   index=[8, 9, 10, 11],
)

frames = [df1, df2, df3]
Result = pd.concat(frames)
print(Result)


import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]})

df2 = pd.DataFrame({'A': [7, 8, 9],
                    'B': [10, 11, 12]})

# Concatenate along rows (stack vertically)
Result_row = pd.concat([df1, df2], axis=0)

# Concatenate along columns (stack horizontally)
Result_column = pd.concat([df1, df2], axis=1)

print("\nDataframe 1:")
print(df1)
print("\nDataframe 2:")
print(df2)

print("\nConcatenated along rows:")
print(Result_row)

print("\nConcatenated along columns:")
print(Result_column)

## Pandas Merge DataFrames

- Utilize the pd.merge() method to merge DataFrames based on specific keys or columns.
- Specify the join type in Pandas merge, which controls how rows from two DataFrames are combined.
- This ensures data alignment and prevents unintended outcomes.
- Choose the appropriate how parameter to specify the type of join.
- Specify the on parameter to indicate the column(s) to merge on.

## Types of Pandas Join

- There are various join logics available to merge Pandas DataFrames:

- Full Outer Join: It merges all rows from both DataFrames, using NaN to fill in missing values when no match is found.

- Inner Join: It combines matching rows from DataFrame 1 and DataFrame 2 based on a common key column.

- Right Join: It retains all rows from the right DataFrame, merges on common keys, and fills missing values with NaN.

- Left Join: It retains all rows from the left DataFrame, merging matching rows from the right and filling unmatched values with NaN.

- Cross: It creates the cartesian product of the rows of both frames.

In [ ]:
left = pd.DataFrame(
   {
      "key1": ["K0", "K0", "K1", "K2"],
      "key2": ["K0", "K1", "K0", "K1"],
      "A": ["A0", "A1", "A2", "A3"],
      "B": ["B0", "B1", "B2", "B3"],
   }
)
right = pd.DataFrame(
   {
      "key1": ["K0", "K1", "K1", "K2"],
      "key2": ["K0", "K0", "K0", "K0"],
      "C": ["C0", "C1", "C2", "C3"],
      "D": ["D0", "D1", "D2", "D3"],
   }
)
print("\nDataframe 1:")
print(left)
print("\nDataframe 2:")
print(right)

#Full outer join
Result = pd.merge(left, right, how="outer", on=["key1", "key2"])
print(Result)

#Inner join
Result = pd.merge(left, right, how="inner", on=["key1", "key2"])
print(Result)

#Right Join
Result = pd.merge(left, right, how="right", on=["key1", "key2"])
print(Result)

#Left Join
Result = pd.merge(left, right, how="left", on=["key1", "key2"])
print(Result)

#Cross
Result = pd.merge(left, right, how="cross")
print(Result)

## Pandas Join DataFrame
- Use the join() method to join DataFrames based on their indices
- Specify the how parameter to determine the type of join, similar to pd.merge()
- Use the on parameter if joining on specific columns, or simply call join() without parameters to perform a simple index-based join

In [ ]:
left = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "key": ["K0", "K1", "K0", "K1"],
    }
)
right = pd.DataFrame({"C": ["C0", "C1"],
                      "D": ["D0", "D1"]},
                      index=["K0", "K1"])

Result = left.join(right, on="key")
print(Result)

## Aggregating Data
- Aggregating data involves summarizing or grouping data based on specific criteria. This is useful for creating meaningful insights and reducing data dimensionality.
- Common aggregation functions include average(mean), median, minimum(min), maximum(man), sum, standard deviation(std), variance(var), and count.

In [ ]:
import pandas as pd

# Creating a DataFrame with a 'Category' column and a 'Value' column
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

# Grouping the DataFrame by 'Category' and calculating various aggregations
df_aggregated = df.groupby('Category').agg({
    'Value': ['mean', 'median', 'min', 'max', 'sum', 'std', 'var', 'count']
})

# Displaying the aggregated DataFrame
print("Aggregated DataFrame:")
df_aggregated

## Reshaping Data
- Reshaping data includes pivoting, melting, or stacking data to achieve a structure suitable for specific analyses or visualizations.

In [ ]:
import pandas as pd

# Assuming you have a DataFrame 'df' with 'Date', 'Category', and 'Value' columns
# Adjust column names and DataFrame based on your actual data

# DataFrame
df = pd.DataFrame({'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
                   'Category': ['A', 'B', 'A', 'B'],
                   'Value': [10, 15, 20, 25]})

# Pivoting data for better analysis
df_pivoted = df.pivot_table(index='Date', columns='Category', values='Value', aggfunc='mean')

# Displaying the pivoted DataFrame
print("Pivoted DataFrame:")
print(df_pivoted)